
div {
	text-align: center;
}

.slds-card {
	font-size: 30px;
	background-image: linear-gradient(to bottom right, lightblue, yellow) !important;
}

/* welcome to penrod office header */
.slds-builder-header{
	justify-content: space-around;
	font-size: 24px;
	font-style: bold;
}

/* click a city button */
.City{
	font-size: 24px;
}

.city-buttons-container {
	display: flex; 
	width: 100%;
	justify-content: space-around; 
	padding: 1em;
}

.weather-details-header {
	text-decoration: underline;
}